/* -----------------the colors palette : ___________________________________________
____________________red : #f72210 __________________________________________________
____________________black : black __________________________________________________
____________________grey-text : rgba(39,39,39,0.5) _________________________________
____________________grey-title: rgba(3,3,3, 0.4)____________________________________
____________________blue-insight: #3581f4 __________________________________________ */

/* --------------------------------------------------------------------------------- */

/* ------------------------Global-classes-styling----------------------------------- */

/* --------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f6;
}

main {
  max-width: 1300px;
}

.official-nav-top {
  max-width: 1300px;
  height: 9.4375rem;
}

/* bootstrap */
.selector-for-some-widget {
  box-sizing: content-box;
}

a {
  text-decoration: none !important;
}


/* -------------------------------------------------------------------------------------- */

/* ----------------------------Typography------------------------------------------------- */

/* -------------------------------------------------------------------------------------- */

/* Weather and location at the top ex: salé/MA */
.weather-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
  font-style:normal ;
  letter-spacing: normal;
  line-height: 2.267em;
  color: white;
}

/* time and date in the logo area at the top */
.logo-time-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.125em;
  color: white;
}

/* the sign-in and the subscribe botton area in the nav */
.signin-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.778em;
  color: white;
}

.subscribe-top-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.778em;
  color: #f72210;
}

/* the navigation bar elements */
.hamburger-list-font {
  font-family: "Roboto Condensed",sans-serif;
  font-size: 1.188rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.263em;
  text-transform: uppercase;
  color: black;
}

/* the title of rubric - like: opinion */
.grey-rubric-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* the titles inside the rubrics */
.rubric-title-big-bold-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.rubric-title-small-bold-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.rubric-title-big-normal-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.byauthor-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* the texts inside the rubrics */

.text-rubrics-black {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.text-rubric-grey {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* sponsored stories */
.sponsored-insight-blue-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.sponsored-title-bold-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* section at bottom half of the page that starts with an N */
.n-section-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* rubrics at the bottom half of the page that starts with red titles */
.red-rubric-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* the footer elements */
.footer-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* font families */

@font-face {
  font-family: 'Genericons';
  src: url("https://g.newsweek.com/www/fonts/Genericons.eot?#iefix") format("embedded-opentype"), url("https://g.newsweek.com/www/fonts/Genericons.woff") format("woff"), url("https://g.newsweek.com/www/fonts/Genericons.ttf") format("truetype"), url("https://g.newsweek.com/www/fonts/Genericons.svg#Genericons") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local("loraregular"), url("https://g.newsweek.com/www/fonts/lora-regular-webfont.woff2") format("woff2"), url("https://g.newsweek.com/www/fonts/lora-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local("roboto_condensedregular"), url("https://g.newsweek.com/www/fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("https://g.newsweek.com/www/fonts/robotocondensed-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local("roboto_condensedbold"), url("https://g.newsweek.com/www/fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("https://g.newsweek.com/www/fonts/robotocondensed-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* -------------------------Styling the classes--------------------------------------------- */

/* ---------------------------------------------------------------------------------------- */

/*-------------- The-header ----------*/

/* the navigation bar  */

/* the brand logo */
#layer-svg-brand {
  fill: #f72210;
}

/* the sticky hiden navigation with burger menu */
.my-navbar {
  background-color: #f72210 !important;
}

#layer-svg-brand-top {
  fill: white;
  width: 132px;
  height: 20px;
  margin: 0;
}

.my-navbar-brand {
  width : 8.5rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.weather-icon {
  width: 24px;
  height: 24px;
  margin: 0;
}

.signin-box-a {
  padding: 0.3em 0.5em;
}

.subscribe-box-a {
  background-color: white;
  padding-right: 0.625rem;
  padding-left: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.subscribe-box-a::after {
  content: " >";
  padding-left: 0.7rem;
}

.hamburger-menu-icon {
  font-size: 1.6rem;
  font-family: "Genericons";
  color:white;
  opacity: 0.6;
}

.hamburger-menu-search-li:hover,
.hamburger-menu-search-li:focus {
  border: none !important;
  box-shadow: none !important;
}

.hamburger-menu-search-input {
  width: 90%;
  border: none;
  border-radius: 0%;
  transition: 0.5s;
  color: gray;
}

.hamburger-menu-search-input:hover,
.hamburger-menu-search-input:focus {
  border: none;
  box-shadow: none;
  color: white;
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.my-nav-hiden-list {
max-width: 35vw !important;
width: 18rem !important;
height: 100vh !important;
right: 0 !important;
left: auto !important;
z-index: -10;
transform: translate3d(10px, 5px, 0px) !important;
border-radius: 0%;
border: none;
}

.my-list-hover > a::after {
  content: " >";
  font-size: large;
  line-height: 1rem;
  position: absolute;
  right: 5rem;
}

.my-list-hover:hover ,
.my-list-hover:focus {
  background-color: black;
  transition: 0.5s;
}

.my-list-hover > a:hover ,
.my-list-hover > a:focus {
  color: white !important;
}

.hero-stories-rubrics-wrapper{
  border: 2px solid blue;
}

.official-nav-brand-area-wrapper {
  background-color: #f72210 !important;
  height: 5rem;
}

.official-nav-list-area-wrapper {
  position: relative;
}

.official-nav-list-area-wrapper::before {
position: absolute;
top: 0;
right: 0;
content: "";
display: block;
width: 3rem;
background-color: black;
border-left: 0.75rem solid white;
border-top: 0.8125rem solid black;
}

#layer-svg-brand-center {
  fill: white;
  width: 24.75rem;
  height: 3.75rem;
  margin: 0.625rem auto 0;
}


