/* -----------Master-classes-styling----------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------Typography---------------------------- */

/* Weather and location at the top ex: salé/MA */
.weather-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.logo-time-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.signin-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.subscribe-top-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.nav-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

/* the title of rubric - like: opinion */
.grey-rubric-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.rubric-title-big-bold-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.rubric-title-small-bold-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.rubric-title-big-normal-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.byauthor-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.n-section-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.red-rubric-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

.footer-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}
